<div class='grid-wrapper'>

  <div class='grid-item' id='0_0' (click)="onClick('0_0')"></div>
  <div class='grid-item' id='0_1' (click)="onClick('0_1')"></div>
  <div class='grid-item' id='0_2' (click)="onClick('0_2')"></div>
  <div class='grid-item' id='0_3' (click)="onClick('0_3')"></div>
  <div class='grid-item' id='0_4' (click)="onClick('0_4')"></div>
  <div class='grid-item' id='0_5' (click)="onClick('0_5')"></div>
  <div class='grid-item' id='0_6' (click)="onClick('0_6')"></div>
  <div class='grid-item' id='0_7' (click)="onClick('0_7')"></div>
  <div class='grid-item' id='0_8' (click)="onClick('0_8')"></div>
  <div class='grid-item' id='0_9' (click)="onClick('0_9')"></div>
  <div class='grid-item' id='0_10' (click)="onClick('0_10')"></div>
  <div class='grid-item' id='0_11' (click)="onClick('0_11')"></div>
  <div class='grid-item' id='0_12' (click)="onClick('0_12')"></div>
  <div class='grid-item' id='0_13' (click)="onClick('0_13')"></div>
  <div class='grid-item' id='0_14' (click)="onClick('0_14')"></div>
  <div class='grid-item' id='0_15' (click)="onClick('0_15')"></div>
  <div class='grid-item' id='0_16' (click)="onClick('0_16')"></div>
  <div class='grid-item' id='0_17' (click)="onClick('0_17')"></div>
  <div class='grid-item' id='0_18' (click)="onClick('0_18')"></div>
  <div class='grid-item' id='0_19' (click)="onClick('0_19')"></div>
  <div class='grid-item' id='0_20' (click)="onClick('0_20')"></div>
  <div class='grid-item' id='0_21' (click)="onClick('0_21')"></div>
  <div class='grid-item' id='0_22' (click)="onClick('0_22')"></div>
  <div class='grid-item' id='0_23' (click)="onClick('0_23')"></div>
  <div class='grid-item' id='0_24' (click)="onClick('0_24')"></div>
  <div class='grid-item' id='0_25' (click)="onClick('0_25')"></div>
  <div class='grid-item' id='0_26' (click)="onClick('0_26')"></div>
  <div class='grid-item' id='0_27' (click)="onClick('0_27')"></div>
  <div class='grid-item' id='0_28' (click)="onClick('0_28')"></div>
  <div class='grid-item' id='0_29' (click)="onClick('0_29')"></div>
  <div class='grid-item' id='0_30' (click)="onClick('0_20')"></div>
  <div class='grid-item' id='0_31' (click)="onClick('0_21')"></div>
  <div class='grid-item' id='0_32' (click)="onClick('0_22')"></div>
  <div class='grid-item' id='0_33' (click)="onClick('0_23')"></div>
  <div class='grid-item' id='0_34' (click)="onClick('0_24')"></div>
  <div class='grid-item' id='0_35' (click)="onClick('0_25')"></div>
  <div class='grid-item' id='0_36' (click)="onClick('0_26')"></div>
  <div class='grid-item' id='0_37' (click)="onClick('0_27')"></div>
  <div class='grid-item' id='0_38' (click)="onClick('0_28')"></div>
  <div class='grid-item' id='0_39' (click)="onClick('0_29')"></div>
  <div class='grid-item' id='0_40' (click)="onClick('0_40')"></div>
  <div class='grid-item' id='0_41' (click)="onClick('0_41')"></div>
  <div class='grid-item' id='0_42' (click)="onClick('0_42')"></div>
  <div class='grid-item' id='0_43' (click)="onClick('0_43')"></div>
  <div class='grid-item' id='0_44' (click)="onClick('0_44')"></div>
  <div class='grid-item' id='0_45' (click)="onClick('0_45')"></div>
  <div class='grid-item' id='0_46' (click)="onClick('0_46')"></div>
  <div class='grid-item' id='0_47' (click)="onClick('0_47')"></div>
  <div class='grid-item' id='0_48' (click)="onClick('0_48')"></div>
  <div class='grid-item' id='0_49' (click)="onClick('0_49')"></div>
  <div class='grid-item' id='0_50' (click)="onClick('0_50')"></div>
  <div class='grid-item' id='0_51' (click)="onClick('0_51')"></div>
  <div class='grid-item' id='0_52' (click)="onClick('0_52')"></div>
  <div class='grid-item' id='0_53' (click)="onClick('0_53')"></div>
  <div class='grid-item' id='0_54' (click)="onClick('0_54')"></div>
  <div class='grid-item' id='0_55' (click)="onClick('0_55')"></div>
  <div class='grid-item' id='0_56' (click)="onClick('0_56')"></div>
  <div class='grid-item' id='0_57' (click)="onClick('0_57')"></div>
  <div class='grid-item' id='0_58' (click)="onClick('0_58')"></div>
  <div class='grid-item' id='0_59' (click)="onClick('0_59')"></div>
  <div class='grid-item' id='0_60' (click)="onClick('0_60')"></div>
  <div class='grid-item' id='0_61' (click)="onClick('0_61')"></div>
  <div class='grid-item' id='0_62' (click)="onClick('0_62')"></div>
  <div class='grid-item' id='0_63' (click)="onClick('0_63')"></div>
  <div class='grid-item' id='0_64' (click)="onClick('0_64')"></div>

  <div class='grid-item' id='1_0' (click)="onClick('1_0')"></div>
  <div class='grid-item' id='1_1' (click)="onClick('1_1')"></div>
  <div class='grid-item' id='1_2' (click)="onClick('1_2')"></div>
  <div class='grid-item' id='1_3' (click)="onClick('1_3')"></div>
  <div class='grid-item' id='1_4' (click)="onClick('1_4')"></div>
  <div class='grid-item' id='1_5' (click)="onClick('1_5')"></div>
  <div class='grid-item' id='1_6' (click)="onClick('1_6')"></div>
  <div class='grid-item' id='1_7' (click)="onClick('1_7')"></div>
  <div class='grid-item' id='1_8' (click)="onClick('1_8')"></div>
  <div class='grid-item' id='1_9' (click)="onClick('1_9')"></div>
  <div class='grid-item' id='1_10' (click)="onClick('1_10')"></div>
  <div class='grid-item' id='1_11' (click)="onClick('1_11')"></div>
  <div class='grid-item' id='1_12' (click)="onClick('1_12')"></div>
  <div class='grid-item' id='1_13' (click)="onClick('1_13')"></div>
  <div class='grid-item' id='1_14' (click)="onClick('1_14')"></div>
  <div class='grid-item' id='1_15' (click)="onClick('1_15')"></div>
  <div class='grid-item' id='1_16' (click)="onClick('1_16')"></div>
  <div class='grid-item' id='1_17' (click)="onClick('1_17')"></div>
  <div class='grid-item' id='1_18' (click)="onClick('1_18')"></div>
  <div class='grid-item' id='1_19' (click)="onClick('1_19')"></div>
  <div class='grid-item' id='1_20' (click)="onClick('1_20')"></div>
  <div class='grid-item' id='1_21' (click)="onClick('1_21')"></div>
  <div class='grid-item' id='1_22' (click)="onClick('1_22')"></div>
  <div class='grid-item' id='1_23' (click)="onClick('1_23')"></div>
  <div class='grid-item' id='1_24' (click)="onClick('1_24')"></div>
  <div class='grid-item' id='1_25' (click)="onClick('1_25')"></div>
  <div class='grid-item' id='1_26' (click)="onClick('1_26')"></div>
  <div class='grid-item' id='1_27' (click)="onClick('1_27')"></div>
  <div class='grid-item' id='1_28' (click)="onClick('1_28')"></div>
  <div class='grid-item' id='1_29' (click)="onClick('1_29')"></div>
  <div class='grid-item' id='1_30' (click)="onClick('1_20')"></div>
  <div class='grid-item' id='1_31' (click)="onClick('1_21')"></div>
  <div class='grid-item' id='1_32' (click)="onClick('1_22')"></div>
  <div class='grid-item' id='1_33' (click)="onClick('1_23')"></div>
  <div class='grid-item' id='1_34' (click)="onClick('1_24')"></div>
  <div class='grid-item' id='1_35' (click)="onClick('1_25')"></div>
  <div class='grid-item' id='1_36' (click)="onClick('1_26')"></div>
  <div class='grid-item' id='1_37' (click)="onClick('1_27')"></div>
  <div class='grid-item' id='1_38' (click)="onClick('1_28')"></div>
  <div class='grid-item' id='1_39' (click)="onClick('1_29')"></div>
  <div class='grid-item' id='1_40' (click)="onClick('1_40')"></div>
  <div class='grid-item' id='1_41' (click)="onClick('1_41')"></div>
  <div class='grid-item' id='1_42' (click)="onClick('1_42')"></div>
  <div class='grid-item' id='1_43' (click)="onClick('1_43')"></div>
  <div class='grid-item' id='1_44' (click)="onClick('1_44')"></div>
  <div class='grid-item' id='1_45' (click)="onClick('1_45')"></div>
  <div class='grid-item' id='1_46' (click)="onClick('1_46')"></div>
  <div class='grid-item' id='1_47' (click)="onClick('1_47')"></div>
  <div class='grid-item' id='1_48' (click)="onClick('1_48')"></div>
  <div class='grid-item' id='1_49' (click)="onClick('1_49')"></div>
  <div class='grid-item' id='1_50' (click)="onClick('1_50')"></div>
  <div class='grid-item' id='1_51' (click)="onClick('1_51')"></div>
  <div class='grid-item' id='1_52' (click)="onClick('1_52')"></div>
  <div class='grid-item' id='1_53' (click)="onClick('1_53')"></div>
  <div class='grid-item' id='1_54' (click)="onClick('1_54')"></div>
  <div class='grid-item' id='1_55' (click)="onClick('1_55')"></div>
  <div class='grid-item' id='1_56' (click)="onClick('1_56')"></div>
  <div class='grid-item' id='1_57' (click)="onClick('1_57')"></div>
  <div class='grid-item' id='1_58' (click)="onClick('1_58')"></div>
  <div class='grid-item' id='1_59' (click)="onClick('1_59')"></div>
  <div class='grid-item' id='1_60' (click)="onClick('1_60')"></div>
  <div class='grid-item' id='1_61' (click)="onClick('1_61')"></div>
  <div class='grid-item' id='1_62' (click)="onClick('1_62')"></div>
  <div class='grid-item' id='1_63' (click)="onClick('1_63')"></div>
  <div class='grid-item' id='1_64' (click)="onClick('1_64')"></div>