.button-panel-wrapper{
    display: grid;
    border-style: solid;
    border-color: #ffe81f;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 300px;
}

#randomfill-button {
    background-color: black;
    border-color: lightcyan;
    color: #3ffd1c;
}
#bubblesort-button{
    background-color: black;
    border-color: lightcyan;
    color: #3ffd1c;
}
#mergesort-button {
    background-color: black;
    border-color: lightcyan;
    color: #3ffd1c;
}