
<div class='button-panel-wrapper'>
  <!-- <button id='generate-button' (click)='onGenerateMaze()'>Draw Maze</button>
  <button id='solve-button' (click)='onSolveMaze()'>Solve Maze</button>
  <button id='clear-button' (click)='onClearBoard()'>Clear Board</button> -->
  <button id='randomfill-button' (click)='onFillAll()'>Random Fill</button>
  <button id='bubblesort-button' (click)='onSortARow()'>Do Bubble Sort</button>
  <button id='mergesort-button' (click)='onDoMergeSort()'>Do Merge Sort</button>
  
</div>


